# API

## OpenRouter API 
OPENROUTER_API_KEY=your-openrouter-api-key-here

## Anthropic Claude API   
ANTHROPIC_API_KEY=your-anthropic-api-key-here

## DeepSeek API 
DEEPSEEK_API_KEY=your-deepseek-api-key-here

## OpenAI API 
OPENAI_API_KEY=your-openai-api-key-here

## Private API
PRIVATE_API_KEY=EMPTY
PRIVATE_MODEL_NAME=your-private-model-name-here
PRIVATE_DEPLOYMENT_TYPE=vllm
PRIVATE_URL=https://127.0.0.1:0/v1

OPENAI_BASE_URL=https://api.openai.com/v1
ANTHROPIC_BASE_URL=https://api.anthropic.com
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

## OpenRouter
OPENROUTER_APP_NAME=tokfinity-llm-client
OPENROUTER_SITE_URL=https://github.com/your-repo

# config path
CONFIG_PATH=config/config.yaml